{% include 'vmmanager/header.html' %}
<div id="content">
<h1>VM Create</h1>

<form id="vmcreate" action="." method="POST">
{% csrf_token %}
<table>
<tbody>
	<tr>
	<th>VM名</th>
	<td><input name="name" type="text" /></td>	
	</tr>
	<tr>	
	<th>メモリ容量</th>
	<td>
	<select name="memory" style="width:50px">
		<option value="">--</option>
		<option value="256">256</option>
		<option value="512">512</option>
		<option value="1024">1024</option>
	</select>
	<span>MB</span>
	</td>
	</tr>
	<tr>
	<th>CPU数</th>
	<td>
	<select name="vcpu" style="width:50px">
		<option value="">--</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
	</td>
	</tr>
	<tr>
	<th>ディスク容量</th>
	<td>
	<select name="disk" style="width:50px">
		<option value="">--</option>
		<option value="2">2</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="20">20</option>
	</select>
	<span>GB</span>
	</td>
	</tr>
	<tr>
	<th>OS</th>
	<td>
	<select name="os">
		<option value="">--</option>
		<option value="ubuntu">Ubuntu</option>
		<option value="debian">Debian</option>
		<option value="freebsd">FreeBSD</option>
		<option value="centos">CentOS</option>
	</td>
	</tr>
	<tr>
	<th colspan="2"><input type="button" value="VM作る!" onclick="validate()"/></th>
	</tr>
	
</tbody>
</table>
</form>
</div>
{% include 'vmmanager/footer.html' %}

<script type="text/javascript">
<!--
/*validate*/
function validate(){

	bool = window.confirm("本当に作っちゃう？？");
	if(bool)
		document.getElementById('vmcreate').submit();
	else
		;

	return;
}

-->
</script>
