{% load staticfiles %}


<HTML>
	
	<HEAD>
		<TITLE>Cloud Group4</TITLE>
		<LINK rel="stylesheet" type="text/css" href="{% static 'vmmanager/style.css' %}">
	</HEAD>
	
	
	<FRAMESET rows="50,*,20" cols="*" frameborder="1" border="1" framespacing="0" >
		
		<FRAME src="{% static 'vmmanager/header.html' %}" name="header" marginwidth="0" marginheight="0" frameBorder="1" noresize scrolling="NO" allowtransparency="true">
		
		<FRAMESET cols="200,*" rows="*" frameborder="1" border="1" framespacing="0" >
			<FRAME src="/vmmanager/index_menu/"	name="menu" marginwidth="0" marginheight="0" frameBorder="1" noresize scrolling="NO" allowtransparency="true" target="main">
			<FRAME src="/vmmanager/index_top/"		name="main" marginwidth="0" marginheight="0" frameBorder="0" noresize allowtransparency="true">
			<BODY>
				<NOFRAMES><P>This page requires a browser which supports FRAME.</P></NOFRAMES>
				
			</BODY>
		</FRAMESET>
		
		<FRAME src="{% static 'vmmanager/footer.html' %} " name="footer" marginwidth="0" marginheight="0" frameBorder="1" noresize scrolling="NO" allowtransparency="true">
	
	</FRAMESET>
</HTML>
