{% include 'vmmanager/header.html' %}
<h1>VM Status</h1><br/>
<div class="sidemenu">
<p>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
<a href="/vmmanager/vnc/{{dom.name}}/">vnc</a><br/>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
</p>
<p>
<a href="/vmmanager/">back to list</a><br/>
</p>
</div>

<div class="contents">
<table>
 <thead>
  <tr class="header">
   <th>Key</th>
   <th>Value</th>
  </tr>
  </thead>
 <tbody>
 <tr>
  <th>Name</th>
  <th>{{ dom.name }}</th>
  </tr>
 <tr>
  <th>State</th>
  <th>{{ info.1 }}</th>
 </tr>
 <tr>
  <th>mem</th>
  <th>{{ mem }}</th>
 </tr>
 <tr>
  <th>maxMem</th>
  <th>{{ max_mem }}</th>
 </tr>
 <tr>
  <th>maxCPU</th>
  <th>{{ max_cpu }}</th>
 </tr>
 <tr>
  <th>getinfo</th>
  <th>{{ getinfo }}</th>
 </tr>
 <tr>
  <th>VNC</th>
  <th>{{ graphics_port }}</th>
 </tr>
 </tbody>
</table>
<form method="post" action="/vmmanager/status/{{dom.name}}/">
  <input type="hidden" name="shutdown" value="true">
  {% csrf_token %}
  <input type="submit" value="shutdown">
</form> 
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>
{% include 'vmmanager/footer.html' %}
