{% include 'vmmanager/header.html' %}
<h1>VM Status</h1><br/>
<div class="sidemenu">
<p>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
<a href="/vmmanager/vnc/{{dom.name}}/">vnc</a><br/>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
</p>
<p>
<a href="/vmmanager/">back to list</a><br/>
</p>
</div>

<div class="contents">
<table>
 <thead>
  <tr class="header">
   <th>Key</th>
   <th>Value</th>
  </tr>
  </thead>
 <tbody>
  <tr>
    <th>Name</th>
    <th>{{ dom.name }}</th>
  </tr>
  <tr>
    <th>State</th>
    <th>{{ vm_state }}</th>
  </tr>
  <tr>
    <th>maxMemory</th>
    <th>{{ maxMemory }} kB</th>
  </tr>
  <tr>
    <th>usedMem</th>
    <th>{{ "(TODO)" }}</th>
  </tr>
  <tr>
    <th>maxVcpus</th>
    <th>{{ maxVcpus }}</th>
  </tr>
  <tr>
    <th>VNC</th>
    <th>{{ graphics_port }}</th>
  </tr>

  <tr> <th> </br> </th> </tr>
  <!-- for reference -->
  <tr>
    <th>info</th>
    <th>{{ info }}</th>
  </tr>
  <tr>
  <tr>
    <th>state</th>
    <th>{{ state }}</th>
  </tr>
  <tr>
    <th>memoryStats</th>
    <th>{{ memoryStats }}</th>
  </tr>
  <tr>
    <th>vcpus</th>
    <th>{{ vcpus }}</th>
  </tr>
  <tr>
    <th>conGetMemoryStats</th>
    <th>{{ conGetMemoryStats }}</th>
  </tr>
  <tr>
    <th>conGetCPUStats</th>
    <th>{{ conGetCPUStats }}</th>
  </tr>
 </tbody>
</table>
<form method="post" action="/vmmanager/status/{{dom.name}}/">
  <input type="hidden" name="shutdown" value="true">
  <input type="hidden" name="PowerON" value="true">
  {% csrf_token %}
  <input type="submit" value="shutdown">
  <input type="submit" value="PowerON">
</form> 
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>
{% include 'vmmanager/footer.html' %}
