{% load staticfiles %}
<html>
<head>
  <link href="{% static 'vmmanager/style.css'%}" rel="stylesheet" type="text/css"/>
</head>
<body background="{% static 'vmmanager/b009.jpg' %}">




<h1>VM Status</h1><br/>
<div class="sidemenu">
<p>
<a href="/vmmanager/status/{{dom.name}}/">status</a><br/>
<a href="/vmmanager/vnc/{{dom.name}}/">vnc</a><br/>
</p>
</div>

<div class="contents">
<table>
 <thead>
  <tr class="header">
   <th>Key</th>
   <th>Value</th>
  </tr>
  </thead>
 <tbody>
  <tr>
    <th>Name</th>
    <th>{{ dom.name }}</th>
  </tr>
  <tr>
    <th>State</th>
    <th>{{ vm_state }}</th>
  </tr>
  <tr>
    <th>maxMemory</th>
    <th>{{ maxMemory }} kB</th>
  </tr>
  <tr>
    <th>maxVcpus</th>
    <th>{{ maxVcpus }}</th>
  </tr>
  <tr>
    <th>VNC</th>
    <th>{{ graphics_port }}</th>
  </tr>

  <!-- for reference -->
  <!--
  <tr> <th> </br> </th> </tr>
  <tr>
    <th>info</th>
    <th>{{ info }}</th>
  </tr>
  <tr>
  <tr>
    <th>state</th>
    <th>{{ state }}</th>
  </tr>
  <tr>
    <th>memoryStats</th>
    <th>{{ memoryStats }}</th>
  </tr>
  <tr>
    <th>vcpus</th>
    <th>{{ vcpus }}</th>
  </tr>
  <tr>
    <th>conGetMemoryStats</th>
    <th>{{ conGetMemoryStats }}</th>
  </tr>
  <tr>
    <th>conGetCPUStats</th>
    <th>{{ conGetCPUStats }}</th>
  </tr>
  -->
 </tbody>
</table>
<form method="post" action="/vmmanager/status/{{dom.name}}/">
  <input type="hidden" name="shutdown" value="true">
  {% csrf_token %}
  <input type="submit" value="shutdown">
</form>
<form method="post" action="/vmmanager/status/{{dom.name}}/">
  <input type="hidden" name="PowerON" value="true">
  {% csrf_token %}
  <input type="submit" value="PowerON">
</form>

</div>


</body>
</html>
